[submodule "submodules/glue_factory"]
	path = submodules/glue_factory
	url = https://github.com/cvg/glue-factory.git
[submodule "submodules/pixel-perfect-sfm"]
	path = submodules/pixel-perfect-sfm
	url = https://github.com/cvg/pixel-perfect-sfm.git
