name: xrefine
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pip
  - pip:
    - numpy==1.26.4
    - opencv-python==4.11.0.86
    - opencv-python-headless==4.11.0.86
    - tensorboard==2.18.0
    - tensorboardx==2.6.2.2
    - scikit-learn==1.6.1
